<div *ngIf="doc">
  <h3>{{ doc.name }}</h3>
  <div class="doc-options">
    <button type="button" title="Bold" (click)="bold.emit()">
      <i class="material-icons">format_bold</i>
    </button>
    <button type="button" title="Italic" (click)="italic.emit()">
      <i class="material-icons">format_italic</i>
    </button>
    <button type="button" title="Underline" (click)="underline.emit()">
      <i class="material-icons">format_underlined</i>
    </button>
    <select title="Font Type" [(ngModel)]="sfont" (change)="updateFontType($event.doc)">
      <option *ngFor="let font of fonts" [value]="font">
        {{ font }}
      </option>
    </select>
    <select title="Font Size" [(ngModel)]="ssize">
      <option *ngFor="let size of sizes" [value]="size">
        {{ size }}
      </option>
    </select>
    <button type="button" title="Font Color">
      <i class="material-icons">format_color_text</i>
    </button>
    <button type="button" title="Highlight">
      <i class="material-icons">format_color_fill</i>
    </button>
    <button type="button" title="Save">
      <i class="material-icons">save</i>
    </button>
    <button type="button" title="Delete">
      <i class="material-icons">delete</i>
    </button>
  </div>
</div>
