<div *ngIf="doc">
  <h3>{{ doc.name }}</h3>
  <div class="doc-options">
    <button type="button" title="Bold" (click)="bold.emit()">
      <i class="material-icons">format_bold</i>
    </button>
    <button type="button" title="Italic" (click)="italic.emit()">
      <i class="material-icons">format_italic</i>
    </button>
    <button type="button" title="Underline" (click)="underline.emit()">
      <i class="material-icons">format_underlined</i>
    </button>
    <select title="Font Type" (change)="fonttype.emit()">
      <option value="Arial" selcted>Arial</option>
      <option value="Brush Script MT">Brush Script MT</option>
      <option value="Courier New">Courier New</option>
      <option value="Garamond">Garamond</option>
      <option value="Georgia">Georgia</option>
      <option value="Helvetica">Helvetica</option>
      <option value="Tahoma">Tahoma</option>
      <option value="Times New Roman">Times New Roman</option>
      <option value="Trebuchet MS">Trebuchet MS</option>
      <option value="Verdana">Verdana</option>
    </select>
    <select title="Font Size">
      <option value="8">8</option>
      <option value="9">9</option>
      <option value="10">10</option>
      <option value="11" selected>11</option>
      <option value="12">12</option>
      <option value="14">14</option>
      <option value="16">16</option>
      <option value="18">18</option>
      <option value="20">20</option>
      <option value="22">22</option>
      <option value="24">24</option>
      <option value="26">26</option>
      <option value="28">28</option>
      <option value="36">36</option>
      <option value="48">48</option>
      <option value="72">72</option>
    </select>
    <button type="button" title="Font Color">
      <i class="material-icons">format_color_text</i>
    </button>
    <button type="button" title="Highlight">
      <i class="material-icons">format_color_fill</i>
    </button>
    <button type="button" title="Save">
      <i class="material-icons">save</i>
    </button>
    <button type="button" title="Delete">
      <i class="material-icons">delete</i>
    </button>
  </div>
</div>
