<div *ngIf="doc">
  <h3>{{ doc.name }}</h3>

  <button type="button" title="Bold" (click)="bold.emit()">
    <span class="material-symbols-outlined">format_bold</span>
  </button>
  <button type="button" title="Italic" (click)="italic.emit()">
    <span class="material-symbols-outlined">format_italic</span>
  </button>
  <button type="button" title="Underline" (click)="underline.emit()">
    <span class="material-symbols-outlined">format_underlined</span>
  </button>
  <select title="Font Type">
    <option value="Arial">Arial</option>
    <option value="Brush Script MT">Brush Script MT</option>
    <option value="Courier New">Courier New</option>
    <option value="Garamond">Garamond</option>
    <option value="Georgia">Georgia</option>
    <option value="Helvetica">Helvetica</option>
    <option value="Tahoma">Tahoma</option>
    <option value="Times New Roman">Times New Roman</option>
    <option value="Trebuchet MS">Trebuchet MS</option>
    <option value="Verdana">Verdana</option>
  </select>
  <select title="Font Size">
    <option value="8">8</option>
    <option value="9">9</option>
    <option value="10">10</option>
    <option value="11">11</option>
    <option value="12">12</option>
    <option value="14">14</option>
    <option value="16">16</option>
    <option value="18">18</option>
    <option value="20">20</option>
    <option value="22">22</option>
    <option value="24">24</option>
    <option value="26">26</option>
    <option value="28">28</option>
    <option value="36">36</option>
    <option value="48">48</option>
    <option value="72">72</option>
  </select>
  <button type="button" title="Font Color">
    <span class="material-symbols-outlined">format_color_text</span>
  </button>
  <button type="button" title="Highlight">
    <span class="material-symbols-outlined">format_color_fill</span>
  </button>
  <button type="button" title="Save">
    <span class="material-symbols-outlined">save</span>
  </button>
  <button type="button" title="Delete">
    <span class="material-symbols-outlined">delete</span>
  </button>
</div>
