<div *ngIf="doc" class="doc-main-body">
  <app-doc-bar
    [doc]="doc"
    (bold)="updateBold(doc)"
    (italic)="updateItalic(doc)"
    (underline)="updateUnderline(doc)"
  ></app-doc-bar>

  <div class="doc-body">
    <textarea
      [ngStyle]="{
        'font-weight': updateBold(doc),
        'font-style': updateItalic(doc),
        'text-decoration': updateUnderline(doc),
        'font-family': updateFontType(doc),
        'font-size.px': updateFontSize(doc)
      }"
      >{{ doc.body }}</textarea
    >
  </div>
</div>
