<div *ngIf="doc" class="doc-main-body">
  <app-doc-bar
    [doc]="doc"
    (bold)="updateBold(doc)"
    (italic)="updateItalic(doc)"
    (underline)="updateUnderline(doc)"
    (fonttype)="updateFontType(doc)"
  ></app-doc-bar>

  <div
    class="doc-body"
    [ngStyle]="{
      'font-weight': updateBold(doc),
      'font-style': updateItalic(doc),
      'text-decoration': updateUnderline(doc),
      'font-family': updateFontType(doc)
    }"
  >
    <p>{{ doc.body }}</p>
  </div>
</div>
