<div *ngIf="doc" class="doc-main-body">
  <app-doc-bar
    [doc]="doc"
    (bold)="updateBold(doc)"
    (italic)="updateItalic(doc)"
    (underline)="updateUnderline(doc)"
    (color)="updateColor(doc)"
    (highlight)="updateHighlight(doc)"
  ></app-doc-bar>

  <div class="doc-body">
    <textarea
      [ngStyle]="{
        'font-weight': updateBold(doc),
        'font-style': updateItalic(doc),
        'text-decoration': updateUnderline(doc),
        'font-family': doc.fonttype,
        'font-size.px': doc.fontsize,
        'color': doc.fontcolor,
        'background-color': doc.highlight
      }"
      >{{ doc.body }}</textarea
    >
  </div>
</div>
